h1{
    display: flexbox;
    background-color: lightgray;
    height: 300px;
    width: 300px;

    border: 10px solid darkgoldenrod;

    padding: 10px;
    
    margin: 20px auto 40px auto;

    outline: 5px dashed #7c7a7a;
      
}

a{
    border:solid green 5px;
    
}