body{
    font-family: Arial, Helvetica, sans-serif;

}

table {
    width: 500px;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

thead, tfoot {
    background-color: rgba(3, 9, 92, 0.577);
    color: white;
}

tbody > tr:nth-child(odd){
    background-color: rgba(233, 245, 159, 0.267);
    color: rgb(14, 13, 13);
}
tbody > tr:nth-child(even){
    background-color: rgba(58, 61, 58, 0.753);
    color: white;
}

td.num {
    text-align: right;
}

tfoot {
    text-align: left;
}