@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

header {
    background-color: cornsilk;
}

header > h1 {
    text-align: center;
}

menu li {
    background-color: rgb(3, 3, 58);
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px;
}

menu {
    
    list-style-type:none;
    background-color: cornflowerblue;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}